/* ==========================================================================
   Layouts
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.catering-page {
    margin-top: 20px;
}

.panel-body .col-sm-3 {
    padding-bottom: 40px;
}

.panel-body .col-sm-3 + .col-sm-3 {
    border-left: 1px solid #ccc;
}

.panel-body h4 {
    min-height: 50px;
    line-height: 1.4;
}

.panel-body .btn {
    position: absolute;
    bottom: 0;
}

.login-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
