.jsClock {
    position: relative;
    height: 400px;
    width: 400px;
    @include border-radius(50%);
    background: url(../img/zegar.png) no-repeat center;
    background-size: 400px 400px;
}
 .clockNumbers {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
 }

 .clockPointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/jsClockPointer.png) no-repeat 50% 0;
    &.seconds {
        background: url(../img/jsClockPointerSec.png) no-repeat 50% 0;
    }
    &.hours {
        background: url(../img/jsClockPointerHr.png) no-repeat 50% 0;
    }
 }

 .clockNumber {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
 }

 .clockNumber12 {
    top: 0;
    left: 49%;
 }

 .clockNumber1 {
    top: 10.6%;
    right: 27.3%;
 }

 .clockNumber2 {
    top: 25.3%;
    right: 14.6%;
 }

.clockNumber3 {
    top: 44%;
    right: 6%;
    // @include rotate(180deg);
}
